/*--цвет заголовка #212121; --*/
/*--цвет  текста #757575; --*/
/*--цвет  синий #2196F3; --*/
/*--цвет  белый #FFFFFF; --*/
/*--цвет серый background: #F5F4FA; --*/
/*--цвет черный background: #2F303A; --*/

:root {
  --one-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --two-text-color: #ffffff;
  --button-first-color: #2196f3;
  --button-second-color: #ffffff;
  --contakt-link-header: #757575;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  min-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.body :focus {
  cursor: pointer;
  list-style-type: none;
}

.body {
  font-family: Roboto, sans-serif;
}

/* шапка*/

.container {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

.navigation-list {
  display: flex;
}

.contact-lyst {
  display: flex;
  margin-left: auto;
}

.header-contact {
  padding: 32px 0 32px 0;
}

.header-contact:not(:first-child) {
  margin-left: 30px;
}

.contact-lyst :focus,
.contact-lyst :hover {
  color: var(--accent-color);
}

.navigation :focus,
.navigation :hover {
  color: var(--accent-color);
}

.navigation .current {
  color: var(--accent-color);
}

.navigation {
  margin-left: 93px;
}

.header {
  border-bottom: 1px solid #ececec;
  background-color: #ffffff;
}

.header .logo-link {
  display: flex;
  justify-content: center;
  padding-top: 25px;
  padding-bottom: 25px;

  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.logo-link-one {
  color: #212121;
}

.logo-link-two {
  color: #ffffff;
}

.navigation-list .link {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.navigation-list .link:not(:first-child) {
  margin-left: 50px;
}

.header-text {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--title-text-color);
}

.contact {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
}

.contact:not(:first-child) {
  margin-right: 30px;
}

/* герой*/

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  padding-top: 200px;
  padding-bottom: 200px;
  width: 1600px;
  height: 600px;

  background-color: #2f303a;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/герой.jpg);
    background-position: center;
    background-size: cover;
  font-family: Roboto, sans-serif;
}

.hero-text {
  display: flex;
  margin-bottom: 30px;

  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
}

.btn {
  display: inline-block;
  text-align: center;

  padding: 10px 32px 10px 32px;

  border: none;
  cursor: pointer;
  border-radius: 4px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;

  letter-spacing: 0.06em;
  background: #2196f3;
  color: #ffffff;
}

.btn :focus,
.btn :hover {
  color: var(--button-second-color);
}

/* особенности */
svg:not(:root) {
  overflow: hidden;
}

.after-list {
  display: flex;
}
.im-antena {
 width: 70px;
 height: 70px;
 fill: red;
 background-image: url(../icons/symbol-defs\ \(4\).svg#icon-antena);
}

.after-item::before {
display: block;
content: "";
height: 120px;
margin-bottom: 30px;
background-position: center;
background-repeat: no-repeat;
background-size: contain;
background-color: #F5F4FA;
}


.after-item {
  flex-direction: column;
  display: flex;

  width: 270px;
 
  text-decoration: none;
}

.after-item:not(:last-child) {
  margin-right: 30px;
}

.after-hero {
  padding-top: 94px;
  padding-bottom: 94px;

}

.after-title {
  margin-bottom: 10px;

  color: var(--title-text-color);
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.after-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--one-text-color);
}

/* секции */

.section-standart .container {
  flex-direction: column;
}

.thumb-comand-one {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.thumb-comand-two {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.thumb-comand-three {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.thumb-comand-four {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.list-one {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 0;
}

.list-comand {
  display: flex;
}

.item-one:not(:last-child) {
  margin-right: 30px;
}

.item-comand:not(:last-child) {
  margin-right: 30px;
}

.item-comand {
  display: flex;
  flex-direction: column;
  align-items: center;

  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.one {
  margin-bottom: 94px;
}

.two {
  flex-direction: column;
  padding-bottom: 94px;
  padding-top: 94px;
  background: #F5F4FA
}

.section-titel {
  margin-bottom: 50px;

  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.standart-title {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.standart-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--one-text-color);
}

/* подвал*/
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer .container {
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 0;
}

.footer .logo-link {
  display: block;
  padding-bottom: 20px;

  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.footer .logo-link-one {
  color: #212121;
}

.logo-link-two {
  color: #ffffff;
}

.footer-list {
  font-family: Robto, sans-serif;
  font-style: normal;
}

.contact-lynk-address {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.contact-lynk-connect {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);
}

.footer {
  background: #2f303a;
  text-decoration: none;
}

.footer-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-item :focus,
.footer-item :hover {
  color: var(--accent-color);
}

/* 2 портфолио */
.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.visually-hidden {
  opacity: 0;
  position: absolute;
  height: 0;
  width: 0;
}

.card-pfo {
  display: flex;
  flex-direction: column;
  padding: 20px 24px;

  background: #ffffff;
  border: 1px solid #eeeeee;
  border-top: 0;
}

.titlepfo {
  margin-bottom: 4px;
}


.thumb-flex {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -30px;
  margin-left: -30px;
}

.item-two {
  display: block;
  width: 370px;
  margin-left: 30px;
  margin-bottom: 30px;
}

.list-pfo .standart-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.list-pfo .standart-text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--one-text-color);
}

.pfo-btn .current {
  color: var(--button-second-color);
  background-color: var(--button-first-color);
}

.list-pfo-btn {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;

  color: var(--title-text-color);
}

.item-pfo-btn:not(:first-child) {
  margin-left: 8px;
}

.item-pfo-btn :hover,
.item-pfo-btn :focus {
  color: var(--button-second-color);
  background-color: var(--accent-color);
}

.pfo-button {
  display: inline-block;
  text-align: center;

  padding: 6px 22px 6px 22px;
}


.pfo-btn .pfo-button {
  cursor: pointer;
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
}
